.restaurant {
  display: flex;
  align-items: flex-start;
  padding: 16px 8px;
  border-bottom: 1px solid #e9eaed;
}

.restaurantCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  min-width: 64px;
  min-height: 64px;
  margin-right: 16px;
  border-radius: 50%;
  background: var(--lighten-color);
}

.categoryIcon {
  width: 36px;
  height: 36px;
}

.restaurantInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.restaurantName {
  margin: 0;
}

.restaurantDescription {
  display: -webkit-box;
  padding-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
